/* ---- BASIC CONTROLLER SETUP ---- */
.controller.ds {
    background: url("https://raw.githubusercontent.com/colegraves976-eng/ps5-controller-skin/main/ps5_atlas.png") no-repeat;
    width: 1000px;
    height: 600px;
    position: relative;
    background-size: 1000px 600px;
}

/* Base controller image (centered) */
.controller.ds .base {
    background: inherit;
    background-position: 0px 0px;
    width: 1000px;
    height: 600px;
    position: absolute;
}

/* ---- FACE BUTTONS ---- */
/* Cross */
.controller.ds .button.cross {
    background: inherit;
    background-position: -800px -0px;
    width: 64px;
    height: 64px;
    left: 760px;
    top: 330px;
    position: absolute;
}

/* Circle */
.controller.ds .button.circle {
    background: inherit;
    background-position: -865px -0px;
    width: 64px;
    height: 64px;
    left: 820px;
    top: 270px;
    position: absolute;
}

/* Square */
.controller.ds .button.square {
    background: inherit;
    background-position: -735px -0px;
    width: 64px;
    height: 64px;
    left: 700px;
    top: 270px;
    position: absolute;
}

/* Triangle */
.controller.ds .button.triangle {
    background: inherit;
    background-position: -670px -0px;
    width: 64px;
    height: 64px;
    left: 760px;
    top: 210px;
    position: absolute;
}

/* ---- DPAD ---- */
.controller.ds .dpad {
    position: absolute;
    width: 200px;
    height: 200px;
    left: 200px;
    top: 240px;
}

.controller.ds .dpad .up {
    background: inherit;
    background-position: -100px -500px;
    width: 64px;
    height: 64px;
    left: 70px;
    top: 0px;
    position: absolute;
}

.controller.ds .dpad .down {
    background: inherit;
    background-position: -170px -500px;
    width: 64px;
    height: 64px;
    left: 70px;
    top: 140px;
    position: absolute;
}

.controller.ds .dpad .left {
    background: inherit;
    background-position: -30px -500px;
    width: 64px;
    height: 64px;
    left: 0px;
    top: 70px;
    position: absolute;
}

.controller.ds .dpad .right {
    background: inherit;
    background-position: -240px -500px;
    width: 64px;
    height: 64px;
    left: 140px;
    top: 70px;
    position: absolute;
}

/* ---- THUMBSTICKS ---- */
.controller.ds .stick.left {
    background: inherit;
    background-position: -300px -500px;
    width: 100px;
    height: 100px;
    left: 320px;
    top: 360px;
    position: absolute;
}

.controller.ds .stick.right {
    background: inherit;
    background-position: -410px -500px;
    width: 100px;
    height: 100px;
    left: 560px;
    top: 360px;
    position: absolute;
}

/* ---- TOUCHPAD ---- */
.controller.ds .touchpad {
    background: inherit;
    background-position: -520px -500px;
    width: 250px;
    height: 150px;
    left: 380px;
    top: 130px;
    position: absolute;
}
