.controller.ds5 {
    background-image: url('base.png');
    width: 900px;
    height: 600px;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
}

/* Left Stick */
.ds5 .stick.left {
    background-image: url('left-stick.png');
    width: 140px;
    height: 140px;
    position: absolute;
    left: 205px;
    top: 315px;
    background-size: contain;
}

/* Right Stick */
.ds5 .stick.right {
    background-image: url('right-stick.png');
    width: 140px;
    height: 140px;
    position: absolute;
    left: 555px;
    top: 315px;
    background-size: contain;
}

/* D-Pad */
.ds5 .dpad {
    background-image: url('dpad.png');
    width: 190px;
    height: 190px;
    position: absolute;
    left: 160px;
    top: 185px;
    background-size: contain;
}

/* Face Buttons (Circle, Cross, Square, Triangle) */
.ds5 .face {
    background-image: url('face-buttons.png');
    width: 190px;
    height: 190px;
    position: absolute;
    left: 590px;
    top: 185px;
    background-size: contain;
}

/* Touchpad */
.ds5 .touchpad {
    background-image: url('touchpad.png');
    width: 420px;
    height: 240px;
    position: absolute;
    left: 245px;
    top: 70px;
    background-size: contain;
}

/* Bumpers (L1 / R1) */
.ds5 .bumper {
    background-image: url('bumpers.png');
    width: 900px;
    height: 140px;
    position: absolute;
    left: 0;
    top: -10px;
    background-size: contain;
}

/* Triggers (L2 / R2) */
.ds5 .trigger {
    background-image: url('triggers.png');
    width: 900px;
    height: 160px;
    position: absolute;
    left: 0;
    top: -70px;
    background-size: contain;
}

/* Buttons pressed states (optional) */
.ds5 .face.pressed,
.ds5 .dpad.pressed,
.ds5 .stick.left.pressed,
.ds5 .stick.right.pressed {
    filter: brightness(60%);
}

/* Disconnected */
.ds5.disconnected {
    background-image: url('disconnected.png');
    opacity: 0.3;
}
