    background-image: url(https://imgur.com/1Teb6jY.png);
}

.ds4.white.disconnected {
    background: url(ps4-assets/disconnected.svg);
}

.ds4.white .trigger {
    background-image: url(ps4-white-assets/triggers.svg);
}

.ds4.white .bumper {
    background-image: url(https://imgur.com/EzhZ0jG.png);
}

.ds4.white .touchpad.pressed {
    background-image: url(ps4-white-assets/touchpad.svg);
}

.ds4.white .back, .ds4 .start {
    background-image: url(ps4-white-assets/start.svg);
}

.ds4.white .button {
    background-image: url(ps4-white-assets/face.svg);
}

.ds4.white .stick {
    background-image: url(https://imgur.com/eJ1oHUk.png);
}

.ds4.white .face {
    background-image: url(ps4-white-assets/dpad.svg);
}
